# .gitignore
*
# keep track
!.bashrc
!.gitignore
!.bash_aliases
!.config/
!.config/nvim/
!.config/nvim/lua/core/
!.config/nvim/lua/custom/
!.config/nvim/lua/custom/configs/
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/configs/
!.bash_logout
